<div class="partners">
	<div class="container">
		<div class="px-4 py-5 my-5 text-center">
			<img class="d-block mx-auto mb-4" src="/images/TC.png" alt="" height="150"> 
			<h1 class="display-5 fw-bold text-body-emphasis">
				Thank You! 
			</h1>
			<div class="col-lg-10 mx-auto">
				<p class="lead mb-4">
					A big thank you to <a href="https://visitcalgary.com">Tourism Calgary</a> for their generous support of our 45th anniversary celebration and seminar. Calgary Aikikai has been serving the community since 1980 and is proud to call Calgary home. We hope our visitors enjoy all the great amenities and attractions our beautiful city has to offer during their stay. 
				</p>
				<p class="lead">
					Access exclusive discounts at over 30 restaurants, attractions, shops, and more with the mobile exclusive Calgary 'Explore More' 2025 Pass, designed for you to enjoy during your downtime. This complimentary pass is reserved exclusively for athletes, coaches, and officials. Sign up today and prepare for your visit! 
				</p>
				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<ul>
						<li><a class="btn btn-primary" href="https://visitcalgary.com/2025Aikikai" role="button">Get the pass!</a></li>
						<li>Promo Code: EXPLORE2025</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
