<div class="pricing-table">
  {{ $pricing := .Site.Data.pricing.tiers }}
  <div class="row">
    {{ range $pricing }}
      <div class="col-md-4">
        <div class="pricing-card">
          <h3>{{ .name }}</h3>
          <div class="price">${{ .price }}</div>
          <ul>
            {{ range .features }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
          <a href="#" class="button button-primary">Sign Up</a>
        </div>
      </div>
    {{ end }}
  </div>
</div>
